body{
	text-align:center;
	justify-content:center;
}

.profile-card {
    border-radius: 10px;
	background-color: white;
    width: 300px;
    padding: 50px;
    text-align: center;
	margin:auto;
}
.profile-img {
    border-radius:100%;
	background-color:red;
    width: 110px;
    height: 110px;
    margin-bottom: 15px;
	margin-left: 90px;
}
.profile-img img {
	margin-top: 5px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.profile-name {
    font-size: 24px;
    font-weight: bold;
    margin:10px;
}
p{
	 font-size: 14px;
}
.profile-bio {
   
    margin:20px;
}

.contact-info{
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.card-container{
	background-color:black;
	margin:50px;
	text-align:center;
	padding:40px;
    border-radius: 10%;
    width: 400px;;
}
	